p #{name} você solicitou a recuperação de senha para o seu email.

p Para recuperar sua senha, clique no link abaixo: <a href="#{link}">Alterar Senha</a>

p token: #{token}

p Caso não tenha sido você, por favor, ignore este email!!